@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Oswald:wght@200..700&display=swap');

body{
    background-color: rgb(133, 133, 128);
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 0%);
}
.choices{
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: rgb(133, 133, 131);
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover{
    background-color: hsl(200, 100%, 70%);
}
#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}